n8n/workflow.json
{
  "name": "Safe Network Reconnaissance Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Daily scan at configured time"
    },
    {
      "parameters": {
        "command": "cd /path/to/safe-network-recon && ./scan.sh 192.168.1.0/24"
      },
      "id": "execute-scan",
      "name": "Execute Safe Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Update path and network CIDR as needed"
    },
    {
      "parameters": {
        "operation": "readFile",
        "fileName": "/path/to/safe-network-recon/reports/report.md",
        "options": {}
      },
      "id": "read-report",
      "name": "Read Report",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Update path to report file"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.content }}\n\n*Safe Network Scan Complete*\nNetwork: 192.168.1.0/24\nTime: {{ $now }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300],
      "disabled": true,
      "notes": "Optional: Configure Telegram bot token and chat ID"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_DATABASE_ID",
          "mode": "id"
        },
        "title": "Network Scan Report - {{ $now }}",
        "properties": {
          "property": [
            {
              "key": "title",
              "type": "title",
              "title": "Scan Report"
            },
            {
              "key": "content",
              "type": "rich_text",
              "rich_text": "={{ $json.content }}"
            }
          ]
        }
      },
      "id": "save-to-notion",
      "name": "Save to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [1050, 300],
      "disabled": true,
      "notes": "Optional: Configure Notion integration"
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "recipient@example.com",
        "subject": "Network Reconnaissance Scan Report",
        "emailType": "html",
        "message": "<h2>Network Scan Report</h2><p>Scan completed at {{ $now }}</p><pre>{{ $json.content }}</pre>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 450],
      "disabled": true,
      "notes": "Optional: Configure SMTP settings"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Safe Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Safe Scan": {
      "main": [
        [
          {
            "node": "Read Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Report": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "network-recon",
      "name": "network-recon"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  }
}
